.game {
  height: 35vh;
  /* border: 1px solid var(--gray); */
  margin: 1rem 0;

  text-align: left;

  overflow-y: scroll;
}

/* custom scroll bar for .game */
/* width */
.game::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.game::-webkit-scrollbar-track {
  background: var(--gray-light);
}

/* Handle */
.game::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 2rem;
}

/* Handle on hover */
.game::-webkit-scrollbar-thumb:hover {
  background: var(--gray-dark);
}

span {
  line-height: 1.5rem;
}

.location {
  width: fit-content;
  background-color: var(--gray);
}

#pin {
  /* style like a codeblock */
  background-color: var(--gray-light);
  font-weight: bold;
  font-style: italic;
}
