.game {
  height: 42vh;
  /* border: 1px solid var(--gray); */
  margin: 1rem 0;

  text-align: left;

  overflow-y: scroll;
}

/* custom scroll bar for .game */
/* width */
.game::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.game::-webkit-scrollbar-track {
  background: var(--gray-light);
}

/* Handle */
.game::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 2rem;
}

/* Handle on hover */
.game::-webkit-scrollbar-thumb:hover {
  background: var(--gray-dark);
}

span {
  line-height: 1.5rem;
}

.location {
  width: fit-content;
  background-color: var(--gray);
}

#pin {
  /* style like a codeblock */
  background-color: var(--gray-light);
  font-weight: bold;
  font-style: italic;
}

hr {
  visibility: hidden;
  margin: 0.25rem 0;
}

.set-width {
  width: 45vw;
}

.gui {
  position: relative;
}

.backpack {
  cursor: pointer;
}

.energy {
  cursor: pointer;
  font-size: 1em;
  position: absolute;
}

.energy:hover {
  animation: pop 0.2s;
}

@keyframes pop {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.2em;
  }
  100% {
    font-size: 1em;
  }
}

.coords:hover:before {
  cursor: pointer;

  animation: change-content 0.2s ease-in-out alternate;
  animation-fill-mode: forwards;
}

.coords:not(:hover):before {
  animation: reverse-change-content 0.2s ease-in-out alternate;
}

@keyframes change-content {
  0% {
    /* content: "abc"; */
  }
  50% {
    color: white;
  }
  100% {
    content: "(x,y,z)";
  }
}
@keyframes reverse-change-content {
  0% {
    content: "(x,y,z)";
  }
  50% {
    color: white;
  }
  100% {
    /* content: "(x,y,z)"; */
  }
}

.end {
  animation: win 1s ease-in-out infinite alternate;
}

@keyframes win {
  0% {
    color: #2193b0;
  }
  25% {
    color: #6dd5ed;
  }
  50% {
    color: #1488cc;
  }
  75% {
    color: #20bdff;
  }
  100% {
    color: #0052d4;
  }
}
